nav#navbarBottom {
    background: rgba(255, 255, 255, 0.25);
}

/* Fade In Animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.fade-in {
  animation: fadeIn 0.4s ease forwards;
  pointer-events: auto;
}

/* Fade Out Animation */
@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
.fade-out {
  animation: fadeOut 0.4s ease forwards;
  pointer-events: none;
}

.ui-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    
}
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a-scene {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1;
}

.pre-fade {
  opacity: 0;
}

.overlay-buttons {
    position: fixed;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2;

}

#general-info-toggle {
    left: 1rem;
    
}

#fullscreen-toggle {
    right: 1rem;
}

#reset-camera {
    left: 1rem;
    top: 6rem;
}

#explode-toggle {
    left: 1rem;
    top: 11rem;
}

.onboarding-guide{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -12%);
    color: white;
    text-align: center;
    z-index: 1;
    display: none;
    pointer-events: none;
    background: rgba(41, 66, 255, 0.55);
    padding: 1rem;
    border-radius: 1rem;
}

#zoomDisplay {
    position: fixed;
    top: 38%;
    left: 50%;
    background: rgba(41, 66, 255, 0.55);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
    pointer-events: none;
    text-align: center;
    font-size: 2rem;
    width: 100px;
    margin-left: -50px;
    margin-top: -40px;
}

#zoomDisplay.is-visible {
    opacity: 1;
}

#zoomValue {
    font-weight: bold;
    font-size: 1.5rem;
}

.buttons-container, .instructions-container, .model-selector-container {
    display: none;
    opacity: 0;
}

.model-selector-container {
    z-index: 3;
}

.button.model-selector-button
{
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    padding:0;
    border:1px solid #bbb;
    position: relative;
    }


/* Hide pseudo-elements by default */
.model-selector-button::before,
.model-selector-button::after {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

/* Show and position on hover */
.model-selector-button:hover::before {
    content: 'Load this model';
    top: 26%;
    font-size: 1rem;
    color: white;
    opacity: 1;
    background: rgba(41, 66, 255, 0.65);
    padding: 1rem;
    border-radius: 1rem;
    height: 6rem;
    transform: translateX(-50%);
    line-height: 6.5rem;
}

.model-selector-button:hover::after {
    font-family: 'Font Awesome 6 Free', sans-serif;
    font-weight: 900;
    content: '\f1b2';
    top: 29%;
    font-size: 2.2rem;
    opacity: 1;
    color: white;
    animation: bounce-once 0.6s ease-out 1;
}
@keyframes bounce-once {
    0%   { transform: translate(-50%, 0); }
    30%  { transform: translate(-50%, -10px); }
    60%  { transform: translate(-50%, 5px); }
    100% { transform: translate(-50%, 0); }
  }

.model-selector-button > div:nth-child(1) {
    order: 0;
    flex: 1 0 auto;
    align-self: stretch;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    }

.model-selector-button > div:nth-child(2) {
    order: 1;
    flex: 1 0 auto;
    align-self: stretch;
    height: 20%;
    }

.model-selector-panel{
    display: flex;
    flex-wrap: wrap;
}
.model-selector-panel .column {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 1rem;
  }
@media (max-width: 600px) {
    .model-selector-panel .column {
      flex: 1 1 100%;
    }
  }


.loading-container {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
}

.loading-container > p {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#loading-outer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#loading-outer>div {
		display: inline-block;
}
#loading-inner {
    position: relative;
    height: 64px;
    width: 64px;
    top: -2px;
    display: inline-block;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation-name: cuberota;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#loading-inner>div {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 64px;
    width: 64px;
    border: 1px solid #333;
    backface-visibility: visible;
}

#back {
    transform: rotateY(180deg) translateZ(-64px);
    background: rgba(0, 147, 144,0.75);
}
#top {
    transform: rotateX(90deg) translate3d(0,32px,32px);
    background: rgba(146, 39, 143,0.75);
}
#bottom {
    transform: rotateX(-90deg) translate3d(0,-32px,32px);
    background: rgba(0, 121, 194,0.75);
}
#left {
    transform: rotateY(-90deg) translate3d(32px, 0, 32px);
    background: rgba(236, 0, 140,0.75);
}
#right {
    transform: rotateY(90deg) translate3d(-32px, 0, 32px);
    background: rgba(253, 184, 19,0.75);
}

@keyframes cuberota {
    0% {
        transform-style: preserve-3d;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-32px);
    }
    100% {
        transform-style: preserve-3d;
        transform: rotateX(720deg) rotateY(1440deg) rotateZ(360deg) translateZ(-32px);
    }
}


[aria-label][data-balloon-pos] {
    position: fixed; 
}