html{
    font-size: 14px;
}


:root {

/* https://coolors.co/0b0d1e-21295c-1b3b6f-065a82-9eb3c2 */

/* CSS HEX */
--rich-black-hex: #0b0d1eff;
--space-cadet-hex: #21295cff;
--yinmn-blue-hex: #244f94ff;
--columbia-blue-hex: #CCD8E0ff;

/* RGB values (without alpha) for use in rgba() */
--rich-black-rgb: 11, 13, 30;
--space-cadet-rgb: 33, 41, 92;
--yinmn-blue-rgb: 36, 79, 148;
--columbia-blue-rgb: 204, 216, 224;

/* Full rgba values with alpha */
--rich-black: rgba(11, 13, 30, 1);
--space-cadet: rgba(33, 41, 92, 1);
--yinmn-blue: rgba(36, 79, 148, 1);
--columbia-blue: rgba(204, 216, 224, 1);

/* Gradient */
--gradient-top: linear-gradient(0deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-right: linear-gradient(90deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-bottom: linear-gradient(180deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-left: linear-gradient(270deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-top-right: linear-gradient(45deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-bottom-right: linear-gradient(135deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-top-left: linear-gradient(225deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-bottom-left: linear-gradient(315deg, #0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);
--gradient-radial: radial-gradient(#0b0d1eff, #21295cff, #244f94ff, #9eb3c2ff);


--xrs-default-font-size-small: 0.9rem;
--xrs-default-font-size: 1rem;
--xrs-default-font-size-large: 1.5rem;
--xrs-default-font-size-xlarge: 2rem;


--xrs-default-opacity: 0.9;
--xrs-default-opacity-hover: 0.95;
--xrs-default-opacity-active: 1.0;
--xrs-default-opacity-accent: 0.5;


--xrs-theme-color-bg-primary: rgba(var(--rich-black-rgb), var(--xrs-default-opacity));
--xrs-theme-color-bg-primary-falloff: rgba(var(--rich-black-rgb), var(--xrs-default-opacity-accent));

--xrs-theme-color-bg-secondary: rgba(var(--space-cadet-rgb), var(--xrs-default-opacity));
--xrs-theme-color-bg-secondary-falloff: rgba(var(--rich-black-rgb), var(--xrs-default-opacity-accent));

--xrs-theme-color-bg-tertiary: rgba(var(--columbia-blue-rgb), var(--xrs-default-opacity));
--xrs-theme-color-bg-control: rgba(var(--yinmn-blue-rgb), var(--xrs-default-opacity));
--xrs-theme-color-bg-control-hover: rgba(var(--yinmn-blue-rgb), var(--xrs-default-opacity-hover));
--xrs-theme-color-bg-control-active: var(--yinmn-blue);
--xrs-theme-color-bg-control-accent: var(--yinmn-blue);

--xrs-black-15percent: rgba(0, 0, 0, 0.15);
--xrs-black-25percent: rgba(0, 0, 0, 0.25);
--xrs-black-50percent: rgba(0, 0, 0, 0.50);
--xrs-black-75percent: rgba(0, 0, 0, 0.75);
--xrs-black-100percent: rgba(0, 0, 0, 1.0);


/* standard timings */
--xrs-duration-short: 0.25s;
--xrs-duration-medium: 0.5s;
--xrs-duration-long: 1s;


/* padding defaults*/
--xrs-padding-default: 1rem;
--xrs-padding-half: calc(var(--xrs-padding-default) * 0.5);
--xrs-padding-double: calc(var(--xrs-padding-default) * 2);
--xrs-padding-triple: calc(var(--xrs-padding-default) * 3);




/* background colors 
    navbars, panels, etc.
*/
--xrs-text-color: #FFF;
--xrs-text-shadow: 1px 2px 3px var(--xrs-theme-color-bg-primary);
--xrs-background-color: rgba(var(--rich-black-rgb), var(--xrs-default-opacity));
--xrs-background-color-gradient: linear-gradient(0deg, var(--xrs-theme-color-bg-primary) 80%, var(--xrs-theme-color-bg-primary-falloff) 100%);
--xrs-navbar-background-color-gradient: linear-gradient(0deg, var(--xrs-theme-color-bg-primary) 80%, var(--xrs-theme-color-bg-secondary-falloff) 100%);


    /* buttons */
    --xrs-button-color: #FFF;
    --xrs-button-color-hover: #FFF;
    --xrs-button-color-active: #FFF;
    --xrs-button-background-color: var(--xrs-black-15percent);
    --xrs-button-background-color-hover: var(--xrs-theme-color-bg-control-hover);
    --xrs-button-background-color-active: var(--xrs-theme-color-bg-control-active);

    --xrs-modal-background-color: linear-gradient(0deg, rgba(16,0,12,1), var(--xrs-theme-color-bg-primary), var(--xrs-theme-color-bg-secondary), var(--xrs-theme-color-bg-tertiary));
    

    /* to configure */
    --xrs-control-radius: 0.2rem;
    --xrs-control-border-width: 1px;


    --xrs-control-height: 3.2rem;
    --xrs-control-min-width: 3.2rem;


    --xrs-control-line-height: 1.5;
    --xrs-control-padding-vertical: calc(var(--xrs-padding-half) - 1px);
    --xrs-control-padding-horizontal: calc(0.75rem - 1px);

}

/* Firefox */
body {
    scrollbar-color: #555 #111; /* thumb | track */
    scrollbar-width: auto;
  }
  
  /* WebKit (Chrome, Edge, Safari, Opera) */
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #111;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 0rem;
    border: 1rem solid #111; /* creates space around thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }



h1 {
    font-size: var(--xrs-default-font-size-xlarge);
}
h2 {
    font-size: var(--xrs-default-font-size-large);
}
h3 {
        font-size: var(--xrs-default-font-size);
}
h4 {
    font-size: var(--xrs-default-font-size);
    font-weight: 500;
}


button, .button, select, textarea, input {
    /* z-index & pointer events */
    cursor: pointer;
    /* display properties */
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    /* position properties */
    position: relative;
    /* dimensions, margins, padding, etc. */
    
    padding: var(--xrs-control-padding-vertical) var(--xrs-control-padding-horizontal);
    vertical-align: top;

    /* colours and style properties */
    border-color: transparent;
    border-radius: var(--xrs-control-radius);
    border-style: solid;
    border-width: var(--xrs-control-border-width);
    box-shadow: none;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    text-shadow: 1px 2px 3px #000;

    font-family: inherit;
    font-size: var(--xrs-default-font-size);
    line-height: var(--xrs-control-line-height);

    transition-duration: var(--xrs-duration-short);
    transition-property: background-color, border-color, box-shadow, color, width;

}

.button {
    /* z-index & pointer events */
    /* display properties */
    display: block;
    /* position properties */
    /* dimensions, margins, padding, etc. */
    height: var(--xrs-control-height);
    width: auto;
    min-width: var(--xrs-control-min-width);

    padding: var(--xrs-control-padding-vertical) var(--xrs-control-padding-horizontal);
    /* colours and style properties */

    background: var(--xrs-button-background-color);
    color: var(--xrs-button-color);

    white-space: nowrap;

    &:hover { 
        background-color: var(--xrs-button-background-color-hover);
        color: var(--xrs-button-color-hover);
    }

    &:active { 
        background-color: var(--xrs-button-background-color-active);
        color: var(--xrs-button-color-active);
    }
    


    &.icon-only .icon {
        margin-left: 0.25rem;
    }

    &.icon-only .label >.icon >.fa-pause, &.icon-only .label >.icon >.fa-play {
        margin-left: 0.25rem;
    }
    
    &.icon-only .label >.icon >.fa-vr-cardboard {
        margin-left: -0.15rem;
    }

    &.icon-only .label >.icon >.fa-compress, &.icon-only .label >.icon >.fa-expand {
        margin-left: 0.075rem;
    }


    /* drop-down start ========================================================================== */

    &.dropmenu {
        width: 6rem;
    }

    &.dropmenu .label {
        white-space: nowrap;         /* Prevents wrapping */
        overflow: hidden;            /* Hides overflowing text */
        text-overflow: ellipsis;
    }

    &.dropmenu .dropmenu-menu {
        /* z-index & pointer events */
        /* display properties */
        /* position properties */
        /* dimensions, margins, padding, etc. */
        /* colours and style properties */

        background: var(--xrs-background-color);
        background: var(--xrs-background-color-gradient);
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        margin-bottom: 0.5rem;
        border-radius: 0.25rem;
        box-shadow: 0 2px 8px var(--xrs-black-25percent);
        width: 6rem;
        flex-direction: column;
        overflow: hidden;
    } 

    &.dropmenu.active .dropmenu-menu {
        display: flex;
    }

    & .dropmenu-item, & .dropmenu-title {
        /* z-index & pointer events */
        /* display properties */
        /* position properties */
        /* dimensions, margins, padding, etc. */
        /* colours and style properties */
        
        cursor: pointer;
        color: #FFF;
        border: transparent;
        border-radius: 0;
        text-align: left;
        font-size: 1em;
        width: 100%;
        height: 3rem;
        display: block;
    }

    & .dropmenu-item:hover { 
        background-color: var(--xrs-button-background-color-hover);
        color: var(--xrs-button-color-hover);
    }

    & .dropmenu-item.selected { 
        background-color: var(--xrs-button-background-color-active);
        color: var(--xrs-button-color-active);
        border-left: 0.5rem solid var(--xrs-black-25percent);
        padding-left: 0.25rem
    }


    & .dropmenu-title {
        height: 6rem;
        padding: 0.75rem 0.5rem;
        background: rgba(255, 255, 255, 0.05);
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
        white-space: normal !important;
        word-break: break-word;    
    }

    & .scrollable{
        max-height: 13rem;
    }




    /* drop-down end ========================================================================== */

}


.button.browser-model-animation-name-selector {
    width: calc(100% + 0.5rem);
    min-width: 8rem;
    max-width: 16rem;
    padding-right: 0.5rem;

    & .dropmenu-title {
        height: 4.5rem;
    }
    
    & .dropmenu-menu {
        width: 14rem;
    }

}

.scrollable{
    overflow-y: scroll;
    border-top: 1px solid rgba(0, 0, 0, 0.35);
}



.icon {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.55rem;

    & > i {
        margin: 0px;
        line-height: 1.3em;
    }   

    & span {
        white-space: nowrap;         /* Prevents wrapping */
        overflow: hidden;            /* Hides overflowing text */
        text-overflow: ellipsis;
        padding-right: 0.5rem;
    }

    & .label {
        font-weight: 500;
    }
}

.xrs_uicontainer {
    z-index: 1;
    position: fixed;


/* Base element */
    & .scrollable {
        overflow-y: auto;
        scrollbar-color: #555 #1a1a1a;  /* Firefox: thumb, track */

    }
    
    /* WebKit: Chrome, Edge, Oculus Browser */
    & .scrollable::-webkit-scrollbar {
        width: 1rem;
        height: 1rem;
    }
    
    & .scrollable::-webkit-scrollbar-track {
        background: #1a1a1a;           /* Dark track */
        border-radius: 0.25rem;
    }
    
    & .scrollable::-webkit-scrollbar-thumb {
        background: #555;              /* Thumb color */
        border-radius: 0.25rem;
    }
    
    & .scrollable::-webkit-scrollbar-thumb:hover {
        background: #777;              /* Thumb on hover */
    }

    & .text {
        color: var(--xrs-text-color);
        text-shadow: var(--xrs-text-shadow);
    }


}

.xrs_navbar {
    z-index: 2;
    pointer-events: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: var(--xrs-padding-double);
    background: transparent;

    & .start, & .end {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 4rem;
        pointer-events: all;
    }

    & .start {
        justify-content: flex-start;
        flex-grow: 1;
    }

    & .end {
        justify-content: flex-end;
        flex-grow: 0;
    }

    & .nav-item > *{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }

}

.xrs_navbar::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--xrs-navbar-background-color-gradient);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.xrs_navbar:hover::before {
    opacity: 1;
    transition: opacity 0.5s ease;
}



@media (max-width: 700px) {
        
    .button.dropmenu, .button.button-toggle, .button.simple.icon-only  {
        /* … */
        width: 3.2rem !important;
        min-width: 3.2rem !important;
        max-width: 3.2rem !important;
        height: 3.2rem !important;
        min-height: 3.2rem !important;
        max-height: 3.2rem !important;
    
    
        & > .label > .icon {
            margin-left: 0.3rem;
        
        
            & > .content-label {
                display: none;
            }
        }

    }

    .xrs_navbar {

        & .start, & .end {
            gap: 2rem;
        }

    }

    .animation-timer-display{
        display: none !important;
    }

}   

a-entity[device-presentation-controller] {
    flex-direction: row;
    gap: 1rem;
}




.responsive-media {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
  .responsive-media iframe,
  .responsive-media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
  }
  
  /* Aspect ratio modifiers */
  .ratio-16-9 {
    aspect-ratio: 16 / 9;
  }
  
  .ratio-4-3 {
    aspect-ratio: 4 / 3;
  }

  a-assets, a-scene video, a-scene img, a-scene audio {
    display: block;
  }


/* Modal Dialog Styles
========================================================================== */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--xrs-black-75percent);
    z-index: 9998;
}

.modal-dialog-container {
    position: fixed;
    top: 50%;
    left: 1rem; /* Position to the left of the viewport */
    transform: translate(0, -50%); /* Vertically center */
    max-width: 45%;
    max-height: 600px;
    width: 100%;
    background: var(--xrs-background-color-gradient);
    /* border: 1px solid var(--xrs-black-15percent);
    border-radius: var(--xrs-control-radius);
    box-shadow: 0 5px 15px var(--xrs-black-50percent); */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    color: var(--xrs-text-color);
    text-shadow: var(--xrs-text-shadow);
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* background: var(--xrs-modal-background-color); */
}

a-entity[modal-dialog][visible="false"] .modal-dialog-container {
    opacity: 0;
    transform: translate(0, -45%); /* Animate upwards on close */
    pointer-events: none;
}

a-entity[modal-dialog][visible="true"] .modal-dialog-container {
    opacity: 1;
    transform: translate(0, -50%); /* Settle in center */
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--xrs-padding-half);
    border-bottom: 1px solid var(--xrs-black-25percent);
}

.modal-title {
    font-size: var(--xrs-default-font-size-large);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: var(--xrs-padding-default);
    padding-left: var(--xrs-padding-half);
}

.modal-close-x {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--xrs-text-color);
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    transition: scale var(--xrs-duration-short) ease;
}

.modal-close-x:hover {
    color: var(--xrs-button-color-hover);
    scale: 1.05;
}

.modal-content {
    padding: var(--xrs-padding-default) var(--xrs-padding-double);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: var(--xrs-padding-double);
    border-top: 1px solid var(--xrs-black-25percent);
    gap: var(--xrs-padding-default);
}

.modal-footer button {
    background-color: var(--xrs-button-background-color);
    color: var(--xrs-button-color);
}

.modal-footer button:hover {
    background-color: var(--xrs-button-background-color-hover);
}


@media (max-width: 720px) {
        
    .button.dropmenu, .button.button-toggle, .button.simple.icon-only  {
        /* … */
        width: 3.2rem !important;
        min-width: 3.2rem !important;
        max-width: 3.2rem !important;
        height: 3.2rem !important;
        min-height: 3.2rem !important;
        max-height: 3.2rem !important;
    
    
        & > .label > .icon {
            margin-left: 0.3rem;
        
        
            & > .content-label {
                display: none;
            }
        }

    }

    .xrs_navbar {

        & .start, & .end {
            gap: 2rem;
        }

    }

    .animation-timer-display{
        display: none !important;
    }

    .modal-dialog-container {
        max-width: 100%;
        min-width: 100%;
        width: 100vw;
        margin: 0;
        left: 0;
        height: 50vh;
        transform: translate(0, -10%);
        bottom: 0;
        min-height: 56vh;
    }

}   


@media (max-width: 480px) {
        

}   



/* ---------------------------
   DEFAULT DESKTOP (≥1024px)
---------------------------- */
:root {
    --device: desktop|xl|1024px-inf|landscape;
  }
  
  @media (min-width: 1024px) and (orientation: portrait) {
    :root {
      --device: desktop|xl|1024px-inf|portrait;
    }
  }
  
  
  /* ---------------------------
     LANDSCAPE PHONES
     Wide but short (often < 500px height)
  ---------------------------- */
  @media (max-width: 1023px) and (max-height: 499px) and (orientation: landscape) {
    :root {
      --device: phone|sm|landscape-low-height|landscape;
    }
  }
  
  
  /* ---------------------------
     PORTRAIT PHONES
     Narrow width (≤ 767px), tall height (≥ 600px)
  ---------------------------- */
  @media (max-width: 767px) and (min-height: 600px) and (orientation: portrait) {
    :root {
      --device: phone|sm|0px-767px|portrait;
    }
  }
  
  
  /* ---------------------------
     GENERAL PHONES
     Backup for phones not caught above
  ---------------------------- */
  @media (max-width: 767px) and (orientation: landscape) {
    :root {
      --device: phone|sm|0px-767px|landscape;
    }
  }
  
  @media (max-width: 479px) {
    :root {
      --device: phone|xs|0px-479px|portrait;
    }
  }
  
  
  /* ---------------------------
     TABLETS
     Wider than phones, height usually > 500px
  ---------------------------- */
  @media (min-width: 768px) and (max-width: 1023px) and (min-height: 500px) {
    :root {
      --device: tablet|md|768px-1023px|landscape;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) and (min-height: 600px) {
    :root {
      --device: tablet|md|768px-1023px|portrait;
    }
  }